
{% load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <link rel="stylesheet" href="{%static 'css/_footer.css' %}">
</head>
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-sm-4 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/index"><i class="fa fa-angle-double-right"></i>خانه</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>پرداخت</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>ثبت نام</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>ورود</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>رزرو</a></li>

                </ul>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <h3><a href="https://www.nationaltransaction.com/">اطلاعات تماس<h3>
                        <p>09385891591</p>
                </div>
                </hr>
            </div>
        </div>
</section>
<!-- ./Footer -->